@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color:rgb(68, 75, 96);
    color:rgb(255, 255, 255);
    text-align: center;
    font-family:Saira
}

#title {
    animation: intro 2s ease-in-out;
}

@keyframes intro {
0% {
    opacity: 0;
    transform: translateY(-28px)
}
100% {
    opacity: 1;
    transform: translateY(0)
}

}

img {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 20px;
    height: auto;
}

img:hover {
    transform: scale(1.05);
    cursor: pointer;
}
